params {
    dataset = 'CeDNN'

    input = [
        final_report : '/groups/umcg-immunogenetics/tmp02/users/NathanRibeiro/genotypes_imputation/NR07/raw/CeDNN_May_24_FinalReport.txt',
        sample_info  : "${projectDir}/sample_info.csv"
    ]
    output_dir = "${projectDir}/results"

    chromosomes = [1..22]
    HRC_reference = '/groups/umcg-immunogenetics/tmp02/users/NathanRibeiro/tools/HRC_check_tool/HRC.r1-1.GRCh37.wgs.mac5.sites.tab'
    python2_path  = '/groups/umcg-immunogenetics/tmp02/users/NathanRibeiro/tools/python2.7.9/bin'
    openssl_path  = '/groups/umcg-immunogenetics/tmp02/users/NathanRibeiro/tools/openssl1.0.2/lib'
    checkvcf_ref  = '/groups/umcg-immunogenetics/tmp02/users/NathanRibeiro/tools/checkVCF/hs37d5.fa'
}

process {
    executor = 'slurm'
    cpus = 1
    memory = '8 GB'
    time = '30m'

    withName:CREATE_LGEN {
        memory = '32 GB'
    }

    withName:UPDATE_BUILD {
        memory = '16 GB'
    }

    withName:PLINK_FREQ {
        memory = '16 GB'
    }

    withName:MAKE_HRC_VCF {
        memory = '32 GB'
    }
}